@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Moul&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Moul', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
