.wrapper {
    width: 100%;
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 40px;
    padding: 20px;
    padding-top: 1.5rem;
    justify-content: center;
    transition: all 0.5s ease-in;
}