.sidebar {
    position: fixed;
    height: 100vh;
    padding: 30px;
    width: 300px;
    background: black;
}

.logo {
    text-align: center;
}

.logo > img {
    width: 70%;
}


.search div:nth-child(2){
    display: flex;
    border-radius: 20px;
    padding: 0 10px;
    margin-top: 1.5rem;
    border: 1px solid white;
}

.search div:nth-child(2) input{ 
    background: transparent;
    border: none;
    color: white;
}

.search div:nth-child(2) input:focus {
    outline: none;
}

.search div:nth-child(2) button {
    color: white;
    font-size: 1.5rem;
}

/* -- */
.filtros {
    margin-top: 1.5rem;
    transition: all 0.3s ease-in-out;
}
.filtros details summary {
    list-style: inside none;
}

.collapse {
  --sp-sm: 1.8rem;
  --sp-md: 2.4rem;
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  border-radius: 0.8rem;
  border: 0.1rem solid #fafafa;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
  background-color: #f5f4f9;
  transition: box-shadow 250ms;
  will-change: box-shadow;
  overflow: hidden;
  transition: all .4s;
}

.collapse:hover {
    box-shadow: 0.1rem 0.1rem 1.8rem rgba(0, 0, 0, 0.25);
  }

.title {
    position: relative;
    padding: var(--sp-md);
    font-size: 1.8rem;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
}
.title::after {
    content: "→";
    position: absolute;
    right: var(--sp-md);
    top: 50%;
    transform: translateY(-50%);
}

.divider {
    margin: 0 var(--sp-md);
    border-radius: 99em;
    border: 0.1rem solid currentColor;
    background: currentColor;
    color: #e1e1e1;
}

.description {
    padding: var(--sp-md);
    margin: 0;
    font-size: 1.4rem;
}
.description:not(:first-of-type) {
    padding-top: 0;
}
  