.nav {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.actions > div:nth-child(1) {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    width: 400px;
    text-align: center;
}

.actions div:nth-child(1) form input[type=text] {
    background: transparent;
    border: none;
    width: 80%;
}

.actions div:nth-child(1) form input[type=text]:focus {
    outline: none;
}

.filtros {
    display: flex;
}

.filtros select {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 1.5rem;
}
